<h1>Add a new director</h1>

<form action="http://localhost:3000/create_director">
  <label>Name</label>
  <input type="text" name="name" id="Name">

  <label>Image URL:</label>
  <input type="text" name="image_url" id="Image URL">

  <label>Dob</label>
  <input type="text" name="dob" id="Dob">

  <label>Bio</label>
  <input type="text" name="bio" id="Bio">

  <button>Create director</button>
</form>
