<h1>Add a new movie</h1>

<form action="http://localhost:3000/create_movie">
  <label>Title</label>
  <input type="text" name="title" id="Name">

  <label>Image URL:</label>
  <input type="text" name="image_url" id="Image URL">

  <label>Year</label>
  <input type="text" name="year" id="Year">

  <label>Duration</label>
  <input type="text" name="duration" id="Duration">

  <label>Description</label>
  <input type="text" name="description" id="Description">

  <button>Create movie</button>
</form>
